[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-genai = "*"
python-dotenv = "*"
twilio = "*"
flask = "*"

# Technically the Postgres docs recommend compiling from the source distribution for prod deployments, but that is a headache I don't feel like dealing with yet
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.14"
